{% extends "base.html" %}

{% block content %}
    <div class="lg:w-5/6 xl:w-4/6  mx-auto leading-loose px-4 sm:px-8 md:px-12">
        <h1 class="text-2xl lg:text-4xl font-bold font-mono text-center mb-4">À propos de moi 🙋‍♂️</h1>

        Bonjour, je suis Yoba Sabo Jalloud Phanuel, étudiant en troisième année de génie logiciel et développeur web passionné. 🎓💻

        Au cours de ma formation, j’ai eu l’opportunité d’effectuer un stage d’un an en entreprise où j’ai pu mettre en pratique mes compétences en développement web. J’ai un niveau intermédiaire en JavaScript Vanilla, VueJS/NuxtJS, et Python avec le framework Django. 🖥️🚀

        Je suis constamment à la recherche de projets qui me permettront de grandir en compétences et en connaissances. Je suis motivé par le défi de créer des solutions qui répondent aux besoins spécifiques de chaque client. Ma philosophie est simple : satisfaire les besoins de mon client. 🎯💡

        Je suis convaincu que chaque projet est une opportunité d’apprendre et de se développer en tant que développeur. Si vous avez un projet en tête, n’hésitez pas à me contacter. Ensemble, nous pouvons créer quelque chose de grand. 🤝🌟
    </div>
{% endblock content %}