{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}

{% block content %}
    <div class="grow flex flex-col justify-center items-center gap-y-4 bg-white py-4">
        <img src="{% static "images/picture-me.jpeg" %}" alt="photo de moi" class="xl:w-70 xl:h-70 lg:w-60 lg:h-60 md:w-40 md:h-40 sm:w-36 sm:h-36 w-32 h-32 rounded-full">
        <div class="xl:w-4/6 lg:w-2/3 px-6 xl:px-0 text-center">
            <h1 class="text-2xl lg:text-4xl font-bold font-mono text-center mb-4">Developpeur web django</h1>
            <h1 class="text-xl lg:text-2xl font-bold font-mono text-center mb-4">Jalloud Phanuel</h1>
            <p class="lg:text-lg">
                Bonjour, je suis Yoba Sabo Jalloud Phanuel, étudiant en troisième année de génie logiciel et développeur web passionné. 🎓💻

        Au cours de ma formation, j’ai eu l’opportunité d’effectuer un stage d’un an en entreprise où j’ai pu mettre en pratique mes compétences en développement web. J’ai un niveau intermédiaire en JavaScript Vanilla, VueJS/NuxtJS, et Python avec le framework Django. 🖥️🚀

                 <a href="{% url "about" %}" id="about" class="nav_lien text-blue-800 underline">plus</a> 
            </p>
        </div>
    </div>
{% endblock content %}